config.py
config.ini
settings.ini

config/config.py
config/config.ini
config/settings.ini

__todo__.txt

**/__pycache__/
*.pyc

*.rdp
*.ovpn

rdp/*

memo/*

books/*
!books/Философия Процесса - Уайтхед.pdf

stand_up/*
!stand_up/whattodo.txt

tmp/*

!.gitkeep
!README.md

.vscode
.venv

_release
build
dist
